<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VLE Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="content">
        <h1>Liquid wt. frac. to Gas mole frac.</h1>
        <h2><a href="{{ url_for('gtolpage') }}">Gas to Liquid</a></h2>
        <h3><a href="{{ url_for('index') }}">Home</a></h3>
        <form action="{{ url_for('calculateltog') }}" method="POST" id={{ compound }}>
            <table id="input_table">
                <tr>
                    <th>Compound </th>
                    <th>Wi </th>
                    <th>Yi </th>
                </tr>
                {% for compound in compound_list %}
                <tr>
                    <td>{{ compound }}</td>
                    <td>{{ calculator[compound] }}</td>
                    <td>{{ frac.get(compound) }}</td>
                </tr>
                {% endfor %}
            </table>
            {{ calculator.csrf_token }}
            <br>
            Temperature (K):
            {{ calculator.TField }}
            <p>
            Total Pressure (atm):
            {{ calculator.PtField }}
            </p>
            <br>
            {{ calculator.run }}
            <br>
            <br>
        </form>
        <form action="{{ url_for('resetltog') }}" method="POST" id="reset">
            {{ calculator.reset }}
        </form>
    </div>
    <br>
</body>
</html>